{
  "extends": [
    "airbnb",
    "prettier",
    "prettier/react"
  ],
  "parser": "babel-eslint",
  "globals": {
    "document": true
  },
  "rules": {
    "import/prefer-default-export": [
      0
    ],
    "react/jsx-filename-extension": [
      0
    ]
  }
}